.gsap {
  width: 1px;
  height: 1px;
  background-color: #000;
}

.slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  // height / width required
  height: 400px;
  border: 1px solid pink;
  background: #333;
  // max-width: 1200px;

  &-content {
    // position: absolute;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    h3 {
      background: #fc0;
      box-sizing: border-box;
    }
    button {
      background: none;
      background: #fc0;
      border: 1px solid black;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      width: 100px;
    }

    &.right {
      align-items: flex-end;
    }

    &.bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }

    &.bottom {
      justify-content: flex-end;
    }
  }
}

e11y-select {
  width: 150px;
}
